.eventCard {
  width: 100%;
}

.eventCard > div {
  margin-bottom: 16px;
  border-radius: 16px;
  overflow: hidden;
}

.eventCard img {
  width: 100%;
  transition: 0.5s;
  display: block;
}

.eventCard img:hover {
  transform: scale(1.05);
}

.eventCard p {
  margin: 0;
  padding-left: 16px;
}