.wrap {
  display: flex;
  column-gap: 32px;
}

.image {
  width: 55%;
  border-radius: 16px;
}

.context {
  width: 45%;
}

.title {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--font);
  border-bottom: 1px solid var(--description);
  padding-bottom: 18px;
}

.title p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--price);
  margin: 16px 0 0 0;
}

.description {
  font-size: 1rem;
  color: var(--discription);
  margin-bottom: 20px;
  line-height: 1.6;
}


@media screen and (max-width: 768px) {
  .wrap {
    display: block;
  }
  
  .image {
    width: 100%;
  }
  
  .context {
    width: 100%;
  }
}