html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  color: var(--font);
}

.container {
  width: 100%;
  height: calc(100% - var(--header-height));
  /* margin-top: var(--header-height); */
  padding: 12px;
  box-sizing: border-box;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

header {
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box; /* width를 100% 유지, 패딩 포함 X */
  padding: 0 20px;
  /* border-bottom: 1px solid var(--border); */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--font);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.eventCard {
  width: 100%;
  height: var(--eventCardWrap-height);
  line-height: var(--eventCardWrap-height);
  position: absolute;
  display: none;
  transition: all 0.5s;
}
.now {
  display: block;
  transition: all 0.5s;
}