.productCard {
  width: 46%;
  height: auto;
  /* border: 1px solid var(--border); */
  border-radius: 20px;
  /* margin-right: 4%; */
  margin: 2%;
  display: inline-block;
}

.productCard > div {
  display: flex;
  flex-direction: column;
}

.productCard img {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 20px;
  box-sizing: border-box;
}

.productCard div {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  white-space: normal;
}

.productCard .productCardTitle {
  margin: 16px 0 8px 0;
}

.productCard .productCardPrice {
  font-weight: bold;
  color: var(--price);
  /* line-height: 2rem; */
}