.sliderWrap {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .sliderWrap img {
  width: 15px;
  height: 15px;
} */

.eventSlider {
  /* width: calc(100% - 25px); */
  width: 100%;
}

.eventSlider > button {
  display: none !important;
}

.eventSlider img {
  /* width: calc(100% - 25px); */
  width: 100%;
  border-radius: 20px;
}