.eventSliderWrap > div {
  width: 100%;
  /* border-radius: 20px; */
  background-color: rgba(0, 0, 0, 0.5);
  /* margin-bottom: 40px; */
  box-shadow: 80px 80px 128px rgb(0 0 0 / 10%);
}

.eventSlider > div {
  border-radius: 20px;
}

.eventSlider > div a {
  display: block !important;
}

/* .sliderWrap img {
  width: 15px;
  height: 15px;
} */

.eventSlider {
  width: 100%;
}

.eventSlider > button {
  display: none !important;
}

.eventSlider img {
  width: 100%;
}