.productCard {
  width: 48%;
  height: auto;
  /* border: 1px solid var(--border); */
  border-radius: 20px;
  margin-right: 4%;
  /* margin: 2%; */
  display: inline-block;
}

.productCard > div {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.normalCard > img {
  width: 100%;
  /* background-color: var(--gray-150); */
  border: 1px solid var(--border);
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
}

.moreCard {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moreCard > ion-icon {
  width: 30px;
  height: 30px;
  color: var(--font);
}

.moreCard > div {
  font-size: 0.9rem;
  line-height: 2rem;
}

.productCard .productCardTitle {
  margin: 16px 0 8px 0;
}

.productCard .productCardPrice {
  font-weight: bold;
  color: var(--price);
  /* line-height: 2rem; */
}