.productSlider {
  /* margin-bottom: 40px; */
  overflow: auto;
  white-space: nowrap; 
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.productSlider::-webkit-scrollbar {
  display: none;
}

.productSlider > a:last-child > div {
  /* height: 100%; */
  margin: 0;
  /* background-color: var(--gray-150); */
}

/* .productSlider > a:last-child > div img {
  width: 25px;
  border: 0;
} */