.productSlider {
  width: 70%;
  /* margin-bottom: 40px; */
  overflow: auto;
  white-space: nowrap; 
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  /* position: relative; */
}

.productSlider::-webkit-scrollbar {
  display: none;
}

.productSlider > a:last-child > div {
  width: 23.5%;
  /* height: 100%; */
  margin: 0;
  padding-top: 23.5%;
  background-color: var(--gray-150);
  /* border: 1px solid var(--border); */
  /* box-shadow: 0px 8px 8px rgb(0 0 0 / 2%); */
  position: relative;
}

.moreCard {
  width: 48%;
  height: 100%;
  display: inline-block;
}

.moreCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moreCardContent > ion-icon {
  width: 30px;
  height: 30px;
  color: var(--font);
}

.moreCardContent > div {
  font-size: 0.9rem;
  line-height: 2rem;

}

@media screen and (max-width: 768px) {
  .productSlider {
    width: 100%;
  }

  .productSlider > a:last-child > div {
    width: 48%;
    padding-top: 48%;
  }
}