#mobNav {
  width: 350px;
  /* height: 100vh; */
  height: calc(100vh - var(--header-height));
  background-color: white;
  /* opacity: 0.2; */
  /* margin: 0; */
  margin: var(--header-height) 0 0 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}

#mobNav > div {
  padding-bottom: 24px;
}

#mobNav > div > span {
  padding-left: 2px;
  font-size: 1.6rem;
}

#mobNav > div > a {
  padding-left: 2px;
  color: var(--yellow);
}

#mobNav ul {
  padding: 0;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.open {
  right: 0;
}

.close {
  left: 100vw;
  right: -100vw;
}

@media screen and (max-width: 768px) {
  #mobNav {
    width: 100vw;
  }

  .open {
    right: 0;
    left: 0;
  }
}