#titleWrap {
  /* width: 100%; */
  height: 151px;
  margin-top: 0;
  margin-bottom: 32px;
  display: flex;
}

#titleWrap > div:first-child {
  display: flex;
  flex-direction: column;
}

.pageTitle {
  font-size: 2.8rem;
  margin-bottom: 0;
}

.pageDiscription {
  color: var(--description);
}

.moreBtn {
  display: flex;
  justify-items: center;
  align-items: center;
}

.moreBtn span {
  font-size: 1rem;
  font-weight: bold;
}

.moreBtn img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  #titleWrap {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .pageTitle {
    font-size: 1.25rem;
  }

  /* .pageDiscription {
    display: none;
  } */

  .moreBtn span {
    font-size: 0.625rem;
  }

  .moreBtn img {
    width: 14px;
    height: 14px;
    margin-left: 5px;
  }
}